{% extends 'base.html' %}

{% block content %}

<style>
    body {
        background-color: #e5e5e5; 
    }
    p, li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
    }
</style>
<p>Let's see if your password meets the requirements</p>
{% if not passed_requirements %}
    <p>Oh no! Looks like you had issues with your password!</p>
    <p>Here are the requirements you failed:</p>
    <ul>
        {% if not has_uppercase %}
            <li>You did not use an uppercase character.</li>
        {% endif %}
        {% if not has_lowercase %}
            <li>You did not use a lowercase character.</li>
        {% endif %}
        {% if not ends_with_number %}
            <li>You did not end your password with a number.</li>
        {% endif %}
        {% if not length_check %}
            <li>Password should be at least 8 characters.</li>
        {% endif %}
    </ul>
{% else %}
    <p>Your password passed the 3 requirements!</p>
{% endif %}

{% if warning %}
    <p><strong>Warning:</strong> Your password is in correct{% endif %}

{% endblock %}
