*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
 }
 body{
    background-color: lightskyblue;
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .maintab{
    width: 400px;
    height: 450px;
    background-color: white;
    position: absolute;
    border: 5px solid black;
    border-radius: 6px; 
 }
 .maintab input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid black;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
 }
 .subtab input[type='button'] {
    width: 75px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 10px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.7s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
    word-break: break-all;
  }
  
 .subtab input[type='button']:hover{
    background-color: black;
    color: white;
 }